{#
/**
 * @file social_welcome_message_logger.html.twig
 * Default theme implementation to present Welcome Message Logs data.
 *
 * This template is used when viewing Welcome Message Logs pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_social_welcome_message_logger()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('social_welcome_message_logger') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
